footer {
    background-color: var(--black);
}

.footer__wrapper-list {
    width: 100%;
    display: flex;
    gap: 15px;
}

.footer__icon {
    width: 50px;
    height: 90px;
    object-fit: contain;
    margin-right: 15px;
    margin-top: 18.720px;
}

.footer__list-heading {
    color: #fff;
    padding-left: 5px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-left: 17px;
}

.lower-prior {
    margin-left: 5px;
}

.footer__item-link {
    color:
        #979797;
    font-weight: 500;
    text-decoration: none;
}

.footer__item-link:hover {
    color: #FF0000;
}

.footer__bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: rgba(36, 36, 36, 0.4);
    backdrop-filter: blur(3px);
    z-index: 9;
    bottom: 0;
    position: absolute;
}

.footer__bottom-item {
    word-wrap: none !important;
}

.footer__bottom-list {
    display: flex;
    justify-content: space-between;
}

.footer__bottom-link {
    color: white;
    font-size: 13px;
}

.footer__bottom-link:hover {
    color: red;
    font-size: 13px;
}

.copy:hover {
    color: #979797;
    font-size: 13px;
}

.copy {
    color: #979797;
}

/* FOOTER MOBILE */


  
  .accordion {
    font-size: 1rem;
    width: 30vw;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .accordion-header,
  .accordion-body {
    background: transparent;
  }
  
  .accordion-header {
    padding: 1.5em 1.5em;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: .7em;
    letter-spacing: .1em;
    transition: all .3s;
    text-transform: uppercase;
  }
  
  .accordion__item {
      border-bottom: 1px solid #D9D9D9;
  }
  
  .accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  
  .accordion-header:hover {
    
    position: relative;
    z-index: 5;
  }
  
  .accordion-body {
    background: transparent;
    color: white;
    display: none;
  }
  
  .accordion-body__contents {
    padding: 1.5em 1.5em;
    font-size: .85em;
  }
  
  .accordion__item.active:last-child .accordion-header {
    border-radius: none;
  }
  
  .accordion:first-child > .accordion__item > .accordion-header {
    border-bottom: 1px solid transparent;
  }
  
  .accordion__item > .accordion-header:after {
    content: "+";
    font-family: IonIcons;
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transition: .3s all;
    transform: rotate(0deg);
  }
  
  .accordion__item.active > .accordion-header:after {
    transform: rotate(-45deg);
  }
  
  .accordion__item.active .accordion-header {
    background: #2D3D99;
  }
  
  .accordion__item .accordion__item .accordion-header {
    background: #f1f1f1;
    color: #353535;
  }
  
  @media screen and (max-width: 1000px) {
    body {
      padding: 1em;
    }
    
    .accordion {
      width: 100%;
    }
  }

@media only screen and (max-width: 680px) {
    /* MOBILE */

    .footer__top-nav ul {
        text-align: center;
    }

    .footer__list-heading {
        color: #fff;
        padding-left: 5px;
        font-size: 16px;
    }

    .lower-prior {
        font-size: 14px;
    }

    .footer__item-link {
        font-size: 13px;
    }

    .footer__icon-link {
        display: none;
    }

    .footer__bottom-list {
        display: grid;
        justify-items: center;
    }

    .copy {
        text-align: center;
    }

    .cont-for-red-l {
        transform: translateX(-10px);
    }
}