header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3.5px);
}

.header__wrapper {
    display: flex;
    align-items: center;
    height: 63px;
}


.header__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: 60px;
    margin-right: auto;
    gap: 30.5px;
}

.header__navbar-item {
    position: relative;
    max-width: 150px;
    padding: 20px 0;
}

.header__navbar-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #F5F5F5;
    transition: 0.3s ease all;
}

.header__navbar-item:hover .header__navbar-link{
    color: red;
}

.header__navbar-item:hover .header__navbar-link::before {
    content: "";
    position: absolute;
    bottom: 0px;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: red;
}   

.header__menu-btn {
    border: none;
    background: none;
    display: flex;
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 79px;
    align-items: flex-end;
    gap: 3px;
}

.header__menu-line {
    display: inline-block;
    width: 27px;
    height: 3.47px;
    background-color: white;
    transition: all 0.3s ease;
}


.header__menu-line2 {
    width: 20px;
}

.header__menu-btn:hover .header__menu-line{
    background-color: red;
}

.header__menu-btn:hover .header__menu-line1 {
    width: 13px;
}

.header__menu-btn:hover .header__menu-line2 {
    width: 21px;
}

.header__menu-btn:hover .header__menu-line3 {
    width: 27px;
}

.open-dropdown::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    background-image: url("./../../img/nav-open.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s ease;
}

.header__navbar-item:hover .open-dropdown::after {
    transform: rotate(180deg);
}

.active-header {
    color: red;
}

.active-header::before {
    content: "";
    position: absolute;
    bottom: 0px;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: red;
}

.header__nav-drop {
    position: absolute;
    display: none;
    top: 100%;
    gap: 20px;    
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background: rgba(36, 36, 36, 0.4);
    backdrop-filter: blur(3px);
}

.header__nav__drop-list {
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.header__drop-link {
    text-decoration: none;
    color: white;
}

.header__drop-link:hover {
    color: red;
}

.header__mini__heading-link {
    text-decoration: none;
    color: white;
}

.header__navbar-item:hover .header__nav-drop {
    display: flex;
}

.list-thin {
    width: 150px;
}

.header__logo {
    margin-left: auto;
}

.mobile-cross {
    display: none;
}

@media only screen and (max-width: 690px) {
    /* MOBILE */

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__menu-btn {
        display: flex;
        margin-right: 20px;
    }

    .header__logo {
        margin-left: 20px;
    }

    .mobile-cross {
        display: flex;
        border: none;
        background: none;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .mobile-cross-icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .header__navbar {
        position: fixed;
        display: none;
        flex-direction: column;
        width: 100vw;
        height: 105vh;
        overflow-y: scroll;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin-left: 0;
        z-index: 9999;
        background: rgb(36, 36, 36);
        backdrop-filter: blur(3px);
        gap: 20px;
    }

    .header__nav-drop {
        position: static;
        display: none;
        flex-direction: column;
        gap: 5px;    
        padding: 0;
        border-radius: 0 0 10px 10px;
        background: rgba(36, 36, 36, 0.4);
        backdrop-filter: blur(3px);
    }

    .header__mini__list-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header__nav__drop-list {
        gap: 10px;
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    .active-header::before {
        content: "";
        position: absolute;
        bottom: 0px;
        display: none;
        width: 100%;
        height: 3px;
        background-color: red;
    }

    .header__navbar-item {
        padding: 0;
    }

    .header__navbar-item:hover .header__navbar-link::before {
        content: "";
        position: absolute;
        bottom: 0px;
        display: none;
        width: 100%;
        height: 3px;
        background-color: red;
    }   

    .header__navbar-link {
        margin-bottom: 0px;
    }

}
