header {

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3.5px);
}

.header__wrapper {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.header__logo-link img {
    width: 40px;
    height: 70px;
    object-fit: contain;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30.5px;
}

.header__navber-link {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.header__navber-link:hover {
    color: red;
}

.header__menu-btn {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.header__menu-line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: white;
}