header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3.5px);
}

.header__wrapper {
    display: flex;
    align-items: center;
    height: 63px;
}


.header__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    gap: 30.5px;
}

.header__navber-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F5F5F5;
}

.header__navber-link:hover {
    color: red;
}

.header__menu-btn {
    border: none;
    background: none;
    display: flex;
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 79px;
    align-items: flex-end;
    gap: 3px;
}

.header__menu-line {
    display: inline-block;
    width: 27px;
    height: 3.47px;
    background-color: white;
    transition: all 0.3s ease;
}


.header__menu-line2 {
    width: 20px;
}

.header__menu-btn:hover .header__menu-line{
    background-color: red;
}

.header__menu-btn:hover .header__menu-line1 {
    width: 13px;
}

.header__menu-btn:hover .header__menu-line2 {
    width: 21px;
}

.header__menu-btn:hover .header__menu-line3 {
    width: 27px;
}

.open-dropdown::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-image: url("./../../img/nav-open.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s ease;
}

.header__navbar-item:hover .open-dropdown::after {
    transform: rotate(180deg);
}