.header__wrapper {
    background: rgba(36, 36, 36, 0.4);
    backdrop-filter: blur(3px);
    height: 80px;
    width: 100%;
    z-index: 9999;
    position: absolute;
    background-size: contain;
}










/* HERO SECTION START */
#hero {
    background: url(/bin/img/bg1.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

.red-text {
    color: var(--red);
}

.main-btn {
    border: 2px solid var(--white);
    border-radius: 5px;
    background: transparent;

    padding: 8px 40px;
    font-weight: 600;
    color: var(--white);
    transition: 0.3s;

    font-size: 18px;
    cursor: pointer;
}

.main-btn:hover {
    background-color: var(--white);
    box-shadow: 0px 0px 20px #f5f5f54f;
    color: black;

}


.plus-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    background-color: var(--red);
    width: 30px;
    height: 30px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-line {
    position: absolute !important;
    background: transparent;
    border: 1px solid var(--red);
    transition: transform 0.4s;
}

.plus:hover {
    transform: scale(1.3);
    opacity: 0.5;
    transition: transform 0.4s;

}

.line-one,
.line-two {
    width: 16px;
    height: 2px;
    background-color: var(--white);
    position: absolute;

}

.line-two {
    transform: rotate(90deg);
}


.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.hero__right-title h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero__right-subtitle p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 30px;

}

/* HERO SECTION END */

/* GALLERY SECTION START */

#gallery {
    height: 100vh;
}

.gallery__heading-title h3 {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 15px;
}

.gallery__wrapper {
    display: grid;
    align-content: center;
}

.gallery__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

/* GALLERY SECTION END */

/* FOOTER SECTION START */

#footer {
    height: 100vh;
}

.nav__info-title {
    font-weight: 600;
}

.nav__info-list {
    gap: 10px 0;
}

.nav__info-list li {
    margin-bottom: 7px;
}

.nav__info-item {
    cursor: pointer;
    transition: 0.3s;
}

.nav__info-item:hover .nav__info-item a {
    color: #FF0000;
}

.nav__info-item a {
    text-decoration: none;
    color: var(--white);
}

.line-1,
.line-2,
.line-3,
.line-4 {
    background: red;
    width: 5px;
    height: 70vh;
    margin-left: 25px;
    margin-right: 35px;
    box-shadow: inset 2px 2px 5px red, 1px 1px 25px red;
    z-index: 9 !important;
}

/* FOOTER SECTION END */

@media (max-height: 1430px) {

    .line-1,
    .line-2,
    .line-3,
    .line-4 {
        height: 57vh;
    }
}


@media (max-height: 950px) {

    .line-1,
    .line-2,
    .line-3,
    .line-4 {
        height: 50vh;
    }
}


@media (max-height: 600px) {

    .line-1,
    .line-2,
    .line-3,
    .line-4 {
        height: 40vh;
    }
}


.cont-for-red-l {
    position: absolute;
    max-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
    z-index: 9;
}

.header__wrapper {
    z-index: 10;
}


.radius-1,
.radius-2 {
    background: red;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    margin-left: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2px 2px 5px red, 1px 1px 25px red;
}

.radius-11 {
    background: black;
    height: 10px;
    width: 10px;
    border-radius: 10px;
}

.radius-2 {
    margin-left: 42.5px;
}


.line-2 {
    height: 40px;
    transform: rotate(32deg);
    margin-left: 35px;
    margin-top: -5px;
}

.line-3 {
    height: 20px;
    margin-top: -4px;
}

.line-4 {
    height: 190.5vh;
    z-index: 1;
}

.gallery__list-mobile {
    display: none;
}


@media screen and (max-width: 800px) {
    .gallery__list {
        display: none !important;
    }

    .gallery__list-mobile {
        display: block;
    }

    .footer__wrapper-list {
        display: grid
    }

    .gallery__wrapper {
        align-content: space-evenly;
    }

    .gallery__heading {
        display: grid;

        /* justify-content: space-between; */
        margin-bottom: 5%;
    }

    .hero__right {
        text-align: center;
    }

    .hero__right-title h1 {
        font-size: 26px;
    }

    .gallery__heading-title {
        text-align: center;
    }

    .gallery__heading-title h3 {
        font-size: 24px;
    }

    .gallery__heading-title p {
        font-size: 16px;
    }

    .gallery__heading-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#pp-nav ul li a.active span {
    background-color: #FF0000;
}

#pp-nav ul li a span {
    background-color: gray;
}

/* Wall */

.line-0 {
    height: 100vh;
    background: red;
    width: 5px;
    margin-left: 25px;
    box-shadow: inset 2px 2px 5px red, 1px 1px 25px red;
    z-index: 9 !important;
}



.wall-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.wall__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wall__item {
    max-width: 361px;
    max-height: 297px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.wall__item-obj {
    background: #242424;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 321px;
    height: 277px;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: url("./../img/horse-icon.png");
    background-repeat: no-repeat;
    background-size: 80px 203px;
    background-position: right 15px bottom;
}

.wall__item-link {
    padding: 0 0 26px 26px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #FF0000;
}


.wall__item-obj {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.wall__item-heading {
    margin-bottom: 0;
}

.wall__item-date {
    font-size: 13px;
    margin-top: 5px;
}

.wall__item-text {
    margin-top: 5px;
}

.wall__item-link {
    padding: 0;
    font-weight: 700;
    padding-top: 20px;
}

.wall-heading {
    font-size: 34px;
    margin-top: 0;
}

.wall-heading-two {
    font-size: 18px;
}

/* Wall mobile */



/* PRIVACY */

#privace .swiper-wrapper {
    display: flex;
    flex-direction: column;
}


.privace__heading {

}

.privace__date {
    font-size: 13px;
}

.privace__columns {
    display: flex;
    gap: 100px;
}

.privace__column-wrapper {}

.privace__column {}

.privace__column-heading {}

.privace__list {}

.privace__item {}

.privace__item-link {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.privace__item-link:hover {
    color: red;
}

.privace__sub-list {}

.privace__sub-item {}

.privace__sub-link {
    text-decoration: none;
    color: white;
    margin-left: 40px;
}

.privace__sub-link:hover {
    color: red;
}

#map .swiper-wrapper {
    display: flex;
    flex-direction: row;
}

#map {
    height: 100%;
}


@media only screen and (max-width: 1200px) {
    /* MOBILE */

    .privace__block-text {
        font-size: 14px;
    }

    #wall .line-0 {
        height: 190vh;
    }

    .wall-text {
        font-size: 14px;
    }

    .wall-heading {
        font-size: 16px;
    }

    .wall__item-heading {
        color: #FF0000;
        margin-bottom: 0;
        font-size: 16px;
    }

    .wall__item-date {
        font-size: 11px;
        margin-top: 3px;
    }

    .wall__item-link {
        padding: 0;
        font-weight: 700;
        padding-top: 8px;
    }

    .wall-wrapper {
        margin-top: 3vh;
    }

    .wall__top-text {
        text-align: center;
    }

    .wall__list {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;
        gap: 5px;
    }


    .wall__item-obj {
        background: #242424;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 251px;
        height: 197px;
        border-radius: 10px;
        background-image: url("./../img/horse-icon.png");
        background-repeat: no-repeat;
        background-size: 60px 152px;
        background-position: right 15px bottom;
    }

    #privace .swiper-wrapper {
        display: flex;
        flex-direction: row;
    }
    
    .privace__columns {
        gap: 50px;
    }

    #wall .swiper-wrapper {
        display: flex;
        flex-direction: row;
    }

}

.tabs-mquality,
.tabs-lside1 {
    color: transparent !important;
}

